<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <style>
        .footer {
           position: fixed; left: 0; bottom: 0; width: 100%;
           background-color: olive;
           color: white; text-align: left; text-indent: 10px;
        }
    </style>
</head>

<body>
    <div id="topbar">
        {% bloc topbar %}
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'accounts' %}">Login</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

<div class="footer">
    <p>Footer</p>
</div>